.calculation-part {
    margin: 20px;
    position: sticky;
    top: 0;
}

.total-time {
    margin-top: 60px;
    width: 200px;
    background-color: rgb(223, 194, 194);
    height: 55px;
    position: relative;
    padding-top: .5px;
    font-weight: 400;
    border-radius: 4px;

}

.complete-btn {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-color: rgb(37, 43, 49);
    border-radius: 8px;
    bottom: 0;
    position: relative;
    background-color: rgb(37, 88, 48);
    color: antiquewhite;
    font-size: 15px;
}